<nav class="navbar navbar-light row">
    <button class="btn">
        <i class="fab fa-pinterest"></i>
      </button>
      <div class="input-group-prepend mb-3">
        <span class="input-group-text iconSearch">
          <i class="fas fa-search"></i>
        </span>
        <input class="searchInput" type="text" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1">
      </div>
        <div>
            <button type="button" class="btn btn-light btnIcon"><i class="fas fa-user-friends"></i></button>
            <button type="button" class="btn  btnIcon"><i class="fas fa-circle"></i></button>
            <button type="button" class="btn  btnIcon"><i class="fas fa-comment-dots"></i></button>
            <button type="button" class="btn  btnIcon"><i class="fas fa-bell"></i></button>
            <button type="button" class="btn  btnIcon"><i class="fas fa-ellipsis-h"></i></button>
        </div>
</nav>